*{
    margin:0;
    padding:0;
}


body{
    margin-top:30px;
    background-color: black;
    height:600px;
}


.offer-page{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    width:420px;
    color:white;
    background-color:rgba(26, 91, 109, 0.836);
    margin-top:60px;
    padding: 30px;
}

.login h1{
    text-align: center;
    font-size: 30px;
}
.login .input-box{
    position: relative;
    width:90%;
    height:50px;
    margin: 30px 0px;
}

.input-box input{
    width:100%;
    height:100%;
    border:none;
    outline: none;
    background: transparent;
    border:1px solid black;
    border-radius: 40px;
    font-size:15px;
    color: white;
    padding-left:10px;
}

.input-box input::placeholder{
    color: white;

}

.input-box i{
    position: absolute;
    right:5px;
    top: 40%;
}

.forgot a{
    color:white;
    font-weight: 500px;
    margin-left:10px;
    text-decoration: none;
}

.forgot a:hover {
    color: red;
    text-decoration: underline;
}

.login button{
    width:100%;
    height:40px;
    background-color:white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow:0px 0px 10px black;
    cursor: pointer;
    margin-top:10px;
    font-size: 15px;
    font-weight: 600;

}

.login .register{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.register a{
    text-align:none;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.register a:hover {
    color: red;
    text-decoration: underline;
}